//META{"name":"Lykakspars' Theme","description":"The First Theme","author":"lykakspars","version":"1.0"}*//{}

.app {
	background-image: url(https://i.imgur.com/gKc4al2.jpg) !important;
    background-size: cover !important;
}

.callout-backdrop {
    background-image: url(https://i.imgur.com/gKc4al2.jpg) !important;
    background-size: cover !important;
}

div[data-bd="backdrop"] {
    background-image: url(https://i.imgur.com/gKc4al2.jpg) !important;
    background-size: cover !important;
}

.message-wrapper {
	background-image: url(https://i.imgur.com/gKc4al2.jpg) !important;
    background-size: cover !important;
}

.chat .message {
	background-image: url(https://i.imgur.com/NnPCn7k.png) !important;
    background-size: cover !important;
}
